<link rel="stylesheet" href="/stylesheets/signup.css" />

<link rel="stylesheet" href="/stylesheets/admin.css" />

<div class="wrapper">
  <div class="title-text">
    <div class="title login">Admin Login</div>
  </div>
  <div class="form-container">
    {{! <div class="ad-log"> }}
    {{! <input type="radio" name="slide" id="login" checked /> }}
    {{! <label for="login" class="admin-login">Login</label> }}
    {{! <div class="slider-tab"></div> }}
    {{! </div> }}
    <div class="form-inner">
      <form action="" method="post" class="login">
        <div class="field">
          <input
            type="text"
            placeholder="Email Address"
            name="email"
            required
          />
        </div>
        <div class="field">
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        {{! <div class="pass-link"><a href="/forget">Forgot password?</a></div> }}
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Login" />
        </div>
        {{! <div class="signup-link">Not a member? <a href="">Signup now</a></div> }}
      </form>
    </div>
  </div>
</div>