<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="first-item">
          <div class="logo">
            <h4>D-HUD ONLINE</h4>

            <img src="" alt="" />
          </div>
          <ul>
            <li>
              <a href="#">16501 Collins Ave, FL 33160, kochi</a>
            </li>
            <li><a href="#">d-hub@company.com</a></li>
            <li><a href="#">010-020-0340</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <h4>Shopping &amp; Categories</h4>
        <ul>
          <li><a href="#"> Online Shopping</a></li>
          <li><a href="#"> </a></li>

        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Homepage</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Help &amp; Information</h4>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Tracking ID</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="under-footer">
          <p>
            Copyright © 2023 D-HUB Co., Ltd. All Rights Reserved.

            <br />

          </p>

        </div>
      </div>
    </div>
  </div>
</footer>