.logo-img {
  width: 205px;
  margin-top: 7px;
  height: 67px;
}

.PIC-1 {
  width: 144px;
  height: 513px;
}

.img-banner-1 {
  width: 50px;
  height: 305px;
}
/* .img-banner-2 {
  
} */
.i-sales {
  width: 100px;
  height: 370px;
}
.one-sales {
  width: 100px;
  height: 370px;
}
.mac-sales {
  height: 320px;
}
.h5-moblie {
  margin-left: 90px;
}
.product-img {
  height: 365px;
  width: 200px;
}
.pro-button {
  padding-top: 53px;
}
