.logo-img {
  width: 238px;
  margin-top: -84px;
  height: 277px;
}
.PIC-1 {
  width: 144px;
  height: 482px;
}

.img-banner-1 {
  width: 50px;
  height: 250px;
}
/* .img-banner-2 {
  
} */
.i-sales {
  width: 100px;
  height: 370px;
}
.one-sales {
  width: 100px;
  height: 370px;
}
.mac-sales {
  height: 320px;
}
